$color-dark: #012437;
$color-medium: #173e51;
$color-soft: #286585;
$color-light: #fe9528;
$color-light-gray: rgb(243, 244, 245);
$color-white: #fff;
$color-red: rgb(255, 0, 0);
$color-light-red: rgb(248, 203, 203);
$color-yellow: #fdc200;
$color-light-yellow: #fff3cd;
