.table {
  border-bottom: 1px solid;
  font-size: 1.2em;
  padding: 40px 0 0;

  th {
    // background: rgb(243, 244, 245);
    color: #fff;
    background: #075656;
    border-top: 5px solid #071F23;
    line-height: 2em;
    padding: 3px 0 5px 20px;
    text-align: start;
    text-shadow: 0px 3px 2px  #071F23;
  }

  td {
    background: rgb(243, 244, 245);
    color: #071F23;
    display: block;
    padding: 10px 30px;
  }
}
