@import './custom_colors';

.footer {
  background: $color-light;
  border-top: 5px solid $color-soft;
  color: $color-dark;
  font-size: .8em;
  padding: 8px 0 10px 20px;
  text-align: center;

  a {
    color: inherit;
  }
}
