.footer {
  background-image: radial-gradient(rgb(43, 123, 143) , rgb(0, 39, 54));
  box-shadow: inset 0px -3px 3px rgb(35, 61, 117);
  color: #fff;
  font-size: 0.8em;
  padding: 10px 0;
  text-align: center;

  a {
    color: inherit;
  }
}
