@import './custom_colors';

.main {
  box-sizing: border-box;
  flex: 1;
  margin: 0 auto;
  padding: 40px 20px;
  width: 100%;

  .main-content {
    display: flex;
    flex-direction: column;

    input {
      background: $color-light-gray;
      border: 0;
      border-bottom: 1px solid;
      color: $color-dark-green;
      font-family: inherit;
      font-size: 1.2em;
      padding: 10px;
      text-transform: uppercase;
    }

    .btn {
      align-self: center;
      background: $color-soft-green;
      border: 0;
      box-shadow: inset 0 -3px 3px $color-dark-green;
      color: $color-white;
      cursor: pointer;
      font-family: inherit;
      font-size: 1em;
      margin: 40px 0;
      padding: 10px 0;
      text-shadow: 0 3px 2px $color-dark-green;
      text-transform: uppercase;
      transition: .5s ease;
      width: 200px;

      &:hover {
        background: $color-medium-green;
        transition: .5s ease;
      }
    }

    .cep-error {
      background: $color-light-red;
      border: 1px solid $color-red;
      color: $color-red;
      font-size: 1em;
      margin: 40px 0 0;
      padding: 20px;
      text-align: center;
      text-shadow: 0 1px 1px $color-dark-green;
      text-transform: uppercase;
    }
  }

  @media (min-width: 576px) {
    & {
      max-width: calc(576px - 20px);
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: calc(768px - 20px);
    }
  }
}
